*{
    margin: 0;
    padding: 0;
}
html{
    background-color: bisque;
    /* font-size: 20pt; */
}


header{
    font-size: 2rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 100px;
    grid-template-columns: 1fr 10fr 3fr;
    justify-items: center;
}

header > h1{
}

header > nav{
    justify-self: end;
}

#logo{
    width: 75px;
    align-self: center;
}
.post > h2 {
    font-size: 1.5em;
}

.post{
    width: 25vw;
    border: solid black 2px;
    margin: 1cm;

}


.post > p{
    width: 50%;
    /* margin-left: 25%; */
    transform: translateX(50%);
}